body
{
background-color:#00AAAA;
color:white;
font-family:britannic;
}



a.x
{
display:block;
color:#00AAAA;
background-color:white;
border-bottom-left-radius:80px;
border-top-right-radius:80px;
border-top-left-radius:80px;
border-bottom-right-radius:80px;


width:320px;
height:67px;
text-align:center;
text-decoration:underline;
font-size:400%;
margin-left:100px;
margin-top:100px;
}

a.y
{
display:block;
color:#00AAAA;
background-color:white;
border-bottom-left-radius:80px;
border-top-right-radius:80px;
border-top-left-radius:80px;
border-bottom-right-radius:80px;

width:270px;
height:67px;
text-align:center;
text-decoration:underline;
font-size:400%;
margin-left:505px;
margin-top:300px;
}

a.z
{
display:block;
color:#00AAAA;
background-color:white;
border-bottom-left-radius:80px;
border-top-right-radius:80px;
border-top-left-radius:80px;
border-bottom-right-radius:80px;

width:340px;
height:67px;
text-align:center;
text-decoration:underline;
font-size:400%;
margin-left:900px;
margin-top:-434px;
}

p.t
{
text-align:center;
font-size:150%;
margin-left:-75px;
margin-top:60px;
}

img
{
margin-left:200px;
}