<html>
<head>
<link rel="stylesheet" type="text/css" href="./static/css/individual.css">
<title>About Aman</title>

</head>
<body>

<a class=x href="/aman">AMAN</a>
<a class=y href="https://github.com/amanraox">Github</a>
<a class=z href="https://linkedin.com/in/amanraoxx">My Linkedin</a>
<p class=t >
IT
<br>
B.Tech
<br>
Serial No: 01
<br>
Roll No: 301403321021
<br>
City: Bilaspur
<br>
Courses taken: IT-101
</p>
<img src="./static/images/aman.png" style="width:250px;height:350px">
</body>
</html>